/* GENERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #222222;
}
/* GENERAL */

/* HEADER */
header {
    display: block;
    padding: 20px 5%;
    width: 90%;
    background-color: #111111;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header nav > a {
    display: inline-block;
    line-height: 0;
}

header nav > a img {
    width: 80px;
    height: auto;
}

header nav span {
    display: none;
    color: #eeeeee;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    color: #eeeeee;
    background-color: #111111;
    transition: all 0.4s linear;
}

header nav ul li a:hover {
    background-color: #333333;
}

header nav ul li a#actual {
    background-color: #333333;
}
/* HEADER */

/* MAIN */
main {
    display: block;
    margin: 0 auto;
    width: 90%;
}

main h1 {
    display: block;
    margin: 10px 0;
    font-size: 50px;
    color: #eeeeee;
}

main p {
    margin: 10px 0;
    color: #eeeeee;
}

.destacados {
    display: block;
    margin: 10px auto;
    text-align: center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.game {
    display: inline-block;
    margin: 10px;
    width: 170px;
    border-radius: 0 0 10px 10px;
    transition: all 0.1s linear;
    background-color: #333333;
    
    position: relative;
    top: 0;
    right: 0;
}

.game:hover {
    position: relative;
    top: -5px;
    right: -5px;
}

.game img {
    width: 100%;
    height: 250px;
}

.game p {
    display: block;
    margin: 5px;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.search {
    display: block;
}

.search input[type="submit"], .search input[type="button"] {
    display: inline-block;
    padding: 0 5px;
    color: #000000;
}
/* MAIN */

/* MAIN FORM */
.formularios {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.formularios p {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.formulario {
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

form {
    display: block;
}

label {
    display: inline-block;
    margin: 10px 0;
    color: #eeeeee;
}

input {
    display: inline-block;
    margin: 10px 0;
}

input[type="file"] {
    color: #eeeeee;
}

input[type="text"] {
    padding: 2px;
    color: #000000;
}

textarea {
    display: block;
    width: 100%;
    height: 50px;
    resize: none;
}

select, option {
    display: inline-block;
    margin: 10px 0;
    color: #000000;
}

input[type="submit"], input[type="reset"] {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
}
/* MAIN FORM*/

/* PAGINACIÓN */
.games .active > a {
    background-color: #333333; 
}

.games .btn > a {
    display: inline-block;
    padding: 2px;
    width: 30px;
    text-align: center;
    border-radius: 2px;
    background-color: #222222;
}

.games ul {
    display: block;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.games ul > li {
    display: inline-block;
    margin-right: 10px;
    list-style: none;
}

.games ul > li > a {
    display: block;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-radius: 20px;
    color: #FFFFFF;
    transition: all 0.4s linear;
    background-color: #222222;
}

.games ul > li > a:hover {
    background-color: #333333;
}

.games .btn > a:hover {
    background-color: #222222;
}
/* PAGINACIÓN */

/* ADMIN */
    /* HEADER */
    header nav ul li.logout {
        margin-left: 100px;
    }
    /* HEADER */

    /* LOGIN */
    .login {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .login p {
        display: block;
        margin: 20px auto;
        width: 100%;
        text-align: center;
    }

    .login form {
        display: block;
        width: 250px;
    }

    .login label {
        display: block;
        margin: 10px 0;
    }

    .login input {
        display: block;
        margin: 5px 0;
        width: calc(100% - 4px);
    }

    .login input[type="submit"], .login input[type="reset"] {
        display: inline-block;
        margin: 10px 0 5px 0;
        padding: 2px 0;
        width: 100%;
    }
    /* LOGIN */

    /* HOME */
    summary {
        display: inline-block;
        margin-bottom: 10px;
        line-height: 0;
    }

    iframe {
        display: block;
        width: 100%;
        height: 75vh;
    }

    .add {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #eeeeee;
    }

    .new {
        display: block;
        margin-bottom: 30px;
        padding: 15px;
        max-width: 100%;
        width: 350px;
        border: 1px solid #000000;
        border-radius: 10px;
        background-color: #333333;
    }

    .new label {
        margin: 5px 0;
    }

    .new input[type="text"] {
        margin: 5px 0;
    }

    .new input[type="file"] {
        margin: 5px 5px 5px 0;
    }

    .new input[type="checkbox"] {
        margin: 5px 5px 0 0;
    }

    table.admin, table.admin tr, table.admin th, table.admin td {
        border: 1px solid #eeeeee;
        border-collapse: collapse;
    }

    table.admin th, table.admin td {
        padding: 10px;
        color: #eeeeee;
    }

    .action {
        display: inline-block;
    }

    .action input[type="submit"] {
        margin-right: 10px;
    }

    .edit {
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-size: 100%;
        background-color: #ffff00;
        background-image: url(../icon/pencil-square.svg);
        background-repeat: no-repeat;
    }

    .delete {
        display: inline-block;
        width: 25px;
        height: 25px;
        padding: 5px;
        background-size: 100%;
        background-color: #ff0000;
        background-image: url(../icon/trash3-fill.svg);
        background-repeat: no-repeat;
    }
    /* HOME */

    /* DATATABLE */
    .dataTables_length label select, .dataTables_filter label input, #DataTables_Table_0_info.dataTables_info {
        color: #eeeeee !important;
    }

    #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers #DataTables_Table_0_previous.paginate_button.previous.disabled {
        color: #eeeeee !important;
    }

    #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers #DataTables_Table_0_next.paginate_button.next.disabled {
        color: #eeeeee !important;
    }

    #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers span .paginate_button {
        color: #eeeeee !important;
    }
    /* DATATABLE */

    /* EDITS */
    .new input[type="submit"], .new input[type="reset"] {
        display: inline-block;
        margin: 10px 0;
        padding: 5px;
        width: 49.4%;
    }

    .new input[type="button"] {
        display: inline-block;
        margin: 10px 0;
        padding: 5px;
        width: 100%;
    }

    .new h2 {
        display: block;
        margin: 5px 0;
        font-size: 25px;
        color: #eeeeee;
    }

    .new hr {
        margin-bottom: 10px;
    }

    .new .game {
        display: block;
        margin: 0 auto 10px auto;
        border: 1px solid #000000;
        position: static;
    }
    /* EDITS */
/* ADMIN */

@media only screen and (max-width: 1300px) {
    /* MAIN */
    .game {
        width: 150px;
    }

    .game img {
        width: 100%;
        height: 220px;
    }
    /* MAIN */
}

@media only screen and (max-width: 1000px) {
    /* HEADER */
    header nav span {
        display: block;
        cursor: pointer;
        padding: 10px 20px;
        font-size: 20px;
    }

    header nav ul {
        display: none;
    }

    header nav ul.show {
        display: block;
        margin: 10px 0;
        width: 100%;
    }

    header nav ul.show li {
        display: block;
        margin: 10px 0;
    }

    header nav ul.show li a {
        display: block;
        padding: 5px 10px;
    }
    /* HEADER */

    /* MAIN */
    main h1 {
        font-size: 30px;
    }

    .game {
        width: 100px;
    }

    .game img {
        width: 100%;
        height: 150px;
    }

    .game p {
        font-size: 10px;
    }
    /* MAIN */

    /* MAIN FORM */
    .formularios {
        justify-content: left;
    }

    .formulario {
        display: block;
        margin: 10px 0;
        padding: 0;
        width: 100%;
    }
    /* MAIN FORM */

    /* ADMIN */
        /* HEADER */
        header nav ul.show li.logout {
            margin-left: 0;
            margin-top: 50px;
        }
        /* HEADER */

        /* HOME */
        iframe {
            height: 80vh;
        }
        /* HOME */
    /* ADMIN */
}

@media only screen and (max-width: 400px) {
    /* MAIN */
    .search input[type="text"] {
        width: 100%;
    }

    .game {
        width: 80px;
    }

    .game img {
        width: 100%;
        height: 120px;
    }
    /* MAIN */

    /* MAIN FORM */
    .formulario h1 {
        margin-bottom: 20px;
    }

    form {
        width: 100%;
    }

    label {
        display: block;
        margin: 10px 0;
    }

    input[type="file"], input[type="text"] {
        width: calc(100% - 4px);
    }

    select, option {
        display: block;
        margin: 10px 0;
        width: 100%;
    }
    /* MAIN FORM */

    /* ADMIN */
        /* HOME */
        iframe {
            height: 65vh;
        }
        /* HOME */
    /* ADMIN */
}